name: Release CI

on:
  push:
    branches:
      - stepwiseProp

jobs:
  jar-package-tool:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
 
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: microsoft
          java-version: 17

      - name: Compiling instrumentator classes
        run: javac -cp 'microbat_instrumentator/lib/bcel-6.0-sources.jar:microbat_instrumentator/lib/bcel-6.0.jar:microbat_instrumentator/lib/commons-cli-1.2.jar:microbat_instrumentator/lib/commons-io-1.3.2.jar:microbat_instrumentator/lib/commons-lang-2.6.jar:microbat_instrumentator/lib/hamcrest-core-1.3.jar:microbat_instrumentator/lib/instrumentator_agent.jar:microbat_instrumentator/lib/instrumentator_agent_v01.jar:microbat_instrumentator/lib/instrumentator_agent_v02.jar:microbat_instrumentator/lib/javassist-3.22.0-GA.zip:microbat_instrumentator/lib/javassist-rel_3_22_0_ga.zip:microbat_instrumentator/lib/javassist.jar:microbat_instrumentator/lib/junit-4.11.jar:microbat_instrumentator/lib/log4j-1.2.17.jar:microbat_instrumentator/lib/mysql-connector-java-5.1.44-bin.jar:microbat_instrumentator/lib/mysql-connector-java-5.1.44.zip:microbat_instrumentator/lib/sav.commons.simplified.jar:microbat_instrumentator/lib/slf4j-api-1.7.12.jar:microbat_instrumentator/lib/slf4j-log4j12-1.7.12.jar:microbat_instrumentator/lib/sqlite-jdbc-3.32.3.2.jar' '@microbat_instrumentator/src.txt' -d ./microbat_instrumentator/bin
      
      - name: Packing instrumentator.jar
        run: java -classpath "microbat_instrumentator/bin:microbat_instrumentator/lib/sqlite-jdbc-3.32.3.2.jar:microbat_instrumentator/lib/commons-lang-2.6.jar:microbat_instrumentator/lib/javassist.jar:microbat_instrumentator/lib/sav.commons.simplified.jar:microbat_instrumentator/lib/commons-io-1.3.2.jar:microbat_instrumentator/lib/mysql-connector-java-5.1.44-bin.jar:microbat_instrumentator/lib/slf4j-api-1.7.12.jar:microbat_instrumentator/lib/bcel-6.0.jar:" microbat.tools.JarPackageTool
      
      - uses: actions/upload-artifact@v4
        with:
          name: instrumentator.jar
          path: microbat/lib/instrumentator.jar

  create-release:
    needs: jar-package-tool
    runs-on: ubuntu-latest
    steps:
      - name: Creating release-please PR
        uses: google-github-actions/release-please-action@v4
        with:
          release-type: simple
          target-branch: stepwiseProp
          token: ${{ secrets.ACTION_TEST_TOKEN }}

      - name: Attach release artifact
        if: ${{ steps.release.outputs.release_created }}
        env:
          GITHUB_TOKEN: ${{ secrets.ACTION_TEST_TOKEN }}
        run: gh release upload ${{ steps.release.outputs.tag_name }} ./microbat/lib/instrumentator.jar
